/vendor/
/private/

public_html/core
public_html/libraries
public_html/modules/contrib/
public_html/themes/contrib/
public_html/profiles/contrib/
public_html/composer.lock


# Ignore configuration files that may contain sensitive information.
# public_html/sites/*/settings*.php
# public_html/sites/*/services*.yml

public_html/sites/default/files/

drush/Commands/contrib/
/tmp/


# Ignore paths that contain user-generated content.
# public_html/sites/*/files
# public_html/sites/*/private


# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
# */settings*.php

# Ignore paths that contain user-generated content.
# */files/
# */private


# === IDE / System ===
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
*.swp
*.bak
